#**Pandas for data science**

In [ ]:
#how to install pandas, it is also called as excel of python.

In [ ]:
pip install pandas #for anaconda we use conda install pandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2022.2.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.21.6)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

#**We will Learn**

*   Series
*   Data Frames
* Missing data
* Group By
* Merging,joining and concatenating,
* operations
* Data input and output

In [ ]:
# let us Start

#**Series**

In [ ]:
import numpy as np

In [ ]:
import pandas as pd

In [ ]:
labels = ['a','b','c']
my_data = [10,20,30]
arr = np.array(my_data)
d = {'a':10,'b':20,'c':30}

In [ ]:
pd.Series(data=my_data)

0    10
1    20
2    30
dtype: int64

In [ ]:
pd.Series(data=my_data,index=labels) #giving the index value to the data by using the labels. first it is always data and next comes index when writing the code.

a    10
b    20
c    30
dtype: int64

In [ ]:
pd.Series(my_data,labels) #data and index can be ommitted if you write the sequence in correct order.

a    10
b    20
c    30
dtype: int64

In [ ]:
pd.Series(arr) #we can pass the numpy arrays usng the series.

0    10
1    20
2    30
dtype: int64

In [ ]:
pd.Series(arr,labels) #similarly the array can also be labelled by giving the labels to it.

a    10
b    20
c    30
dtype: int64

In [ ]:
pd.Series(d) #the dictionaries can also be assigned in pandas series, heres the keys are automatically taken as labels

a    10
b    20
c    30
dtype: int64

In [ ]:
pd.Series(data=labels) #here the labels can also be assigned whether they be of strings.

0    a
1    b
2    c
dtype: object

In [ ]:
pd.Series(data=[sum,print,len]) #in pandas we can assign built in functions also, which is not possible using numpy.

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

**Using the Index**

In [ ]:
ser1 = pd.Series([1,2,3,4],['USA','USSR','Germany','Japan'])

In [ ]:
ser1

USA        1
USSR       2
Germany    3
Japan      4
dtype: int64

In [ ]:
ser2 = pd.Series([1,2,5,4],['USA','USSR','Italy','Japan'])

In [ ]:
ser2

USA      1
USSR     2
Italy    5
Japan    4
dtype: int64

**Grab data out of Series**

In [ ]:
ser1['USA'] #FOR GRABBING THE DATA from the series we need to use the index label in the code to get the assigned value, wether it be string or list.

1

In [ ]:
ser1 + ser2 #here germany and italy are not found so they are named as nan and and the remaining similar are added and converted to float.

Germany    NaN
Italy      NaN
Japan      8.0
USA        2.0
USSR       4.0
dtype: float64

#**Data Frames**

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
from numpy.random import randn

In [ ]:
np.random.seed(101)

In [ ]:
df = pd.DataFrame(randn(5,4),['A','B','C','D','E'],['W','X','Y','Z'])

In [ ]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [ ]:
df['W'] #here W is a series and the A,B,C,D,E are the index for the series.

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [ ]:
type(df['W']) #TO PROVE THET W IS A SERIES.

pandas.core.series.Series

In [ ]:
df.W #if you know SQL we can use this code, the pandas will recognize this code too but it is not recommended

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [ ]:
df['X']

A    0.628133
B   -0.319318
C    0.740122
D   -0.758872
E    1.978757
Name: X, dtype: float64

In [ ]:
df[['W','Z']] #FOR MULTIPLE COLUMNS USE TWO [[KEEP THE COLUMS IN THIS]]

          W         Z
A  2.706850  0.503826
B  0.651118  0.605965
C -2.018168 -0.589001
D  0.188695  0.955057
E  0.190794  0.683509

In [ ]:
df['new1'] #we get a key error as we cannot create new column without an aritthmetic relation between the previous columns.

KeyError: ignored

In [ ]:
#CREATIN A NEW COLUMN\
df['new'] = df['X'] + df['Y']

In [ ]:
df

          W         X         Y         Z       new
A  2.706850  0.628133  0.907969  0.503826  1.536102
B  0.651118 -0.319318 -0.848077  0.605965 -1.167395
C -2.018168  0.740122  0.528813 -0.589001  1.268936
D  0.188695 -0.758872 -0.933237  0.955057 -1.692109

In [ ]:
# to remove the columns
df.drop('new') #here without mentioning the axis it will not be processsed and fo columns the axis is 1.

KeyError: ignored

In [ ]:
df.drop('new',axis=1)

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057

In [ ]:
df #here we can see that new column is still present and not removed. for that we need to use inplace argument.

          W         X         Y         Z       new
A  2.706850  0.628133  0.907969  0.503826  1.536102
B  0.651118 -0.319318 -0.848077  0.605965 -1.167395
C -2.018168  0.740122  0.528813 -0.589001  1.268936
D  0.188695 -0.758872 -0.933237  0.955057 -1.692109

In [ ]:
df.drop('new',axis=1,inplace=True) # for instance we have to keep the inplace to be true all the time to keep the argument acceptable.

In [ ]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057

In [ ]:
#to drop the E row we have to use the axis = o and put inplace=True, and here inplace is not required.
df.drop('E',axis=0,inplace=True)  # I re run the code so the assigned data is reflected and shown erroe where the E row is already removed.

KeyError: ignored

In [ ]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057

In [ ]:
df.shape #gives the shape of the table where (rows,columns)

(4, 4)

Grabbing a ROW

In [ ]:
df.loc['A'] #to find the location and returns the series of the ROW.

W    2.706850
X    0.628133
Y    0.907969
Z    0.503826
Name: A, dtype: float64

In [ ]:
#other way to Grab a Row

In [ ]:
df.iloc[2] # basically we have two ways to Grab rows, either using loc-uses the Row name and iloc-uses the index position.

W   -2.018168
X    0.740122
Y    0.528813
Z   -0.589001
Name: C, dtype: float64

Selecting Subsets of Rows and Columns

In [ ]:
df.loc['B','Y'] #for single value, using the Row and Column names.

-0.8480769834036315

In [ ]:
# for grabbing the subsets
df.loc[['A','B'],['W','Y']] #we need to use pass lists to grab them.

          W         Y
A  2.706850  0.907969
B  0.651118 -0.848077

In [ ]:
df.loc['W'] # IT ONLY WORKS FOR ROWS AND NOT FOR COLUMNS.

KeyError: ignored

In [ ]:
df.iloc[[0,1],[0,2]] #here we can use the iloc and use the index position and grab the sub sets.

          W         Y
A  2.706850  0.907969
B  0.651118 -0.848077

#Part 2 of Data frames



*   Conditionl Selection
*   Multi index parts

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
from numpy.random import randn

In [ ]:
np.random.seed(101)

In [ ]:
df = pd.DataFrame(randn(5,4),['A','B','C','D','E'],['W','X','Y','Z'])

In [ ]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [ ]:
#comparison function
df > 0 #the output will be an boolean value of the dataframe.

       W      X      Y      Z
A   True   True   True   True
B   True  False  False   True
C  False   True   True  False
D   True  False  False   True
E   True   True   True   True

In [ ]:
#or we can assign
booldf = df>0

In [ ]:
booldf

       W      X      Y      Z
A   True   True   True   True
B   True  False  False   True
C  False   True   True  False
D   True  False  False   True
E   True   True   True   True

In [ ]:
# to get the result values in the data frame
df[booldf] # the result values above 0 are mentioned and the false values are given nan.

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118       NaN       NaN  0.605965
C       NaN  0.740122  0.528813       NaN
D  0.188695       NaN       NaN  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [ ]:
#this is how we do conditional selection in the dataframes.

In [ ]:
df[df>0] #direct method without assigning.

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118       NaN       NaN  0.605965
C       NaN  0.740122  0.528813       NaN
D  0.188695       NaN       NaN  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [ ]:
df[df<2]

          W         X         Y         Z
A       NaN  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757       NaN  0.683509

In [ ]:
#conditional ops on single columns
df['W']>0

A     True
B     True
C    False
D     True
E     True
Name: W, dtype: bool

In [ ]:
df['W']

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [ ]:
df[df['W']>0] #here it will remove the Row which is less than 0 and return only the rows satisfying the comparison.

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [ ]:
df[df['W']<1] # this kind of conditional selection will be used more often in this course

          W         X         Y         Z
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [ ]:
df[df['Z']<0]

          W         X         Y         Z
C -2.018168  0.740122  0.528813 -0.589001

In [ ]:
resultdf = df[df['W']>0]

In [ ]:
resultdf

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [ ]:
resultdf['X']

A    0.628133
B   -0.319318
D   -0.758872
E    1.978757
Name: X, dtype: float64

In [ ]:
df[df['W']>0]['X'] # Simplified version of the above functions ina a single line code.

A    0.628133
B   -0.319318
D   -0.758872
E    1.978757
Name: X, dtype: float64

In [ ]:
df[df['W']>0][['Y','Z']]

          Y         Z
A  0.907969  0.503826
B -0.848077  0.605965
D -0.933237  0.955057
E  2.605967  0.683509

In [ ]:
boolser = df['W']>0
result = df[boolser]
mycols = ['Y','Z']
result[mycols]

          Y         Z
A  0.907969  0.503826
B -0.848077  0.605965
D -0.933237  0.955057
E  2.605967  0.683509

##Practice

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
from numpy.random import randn

In [ ]:
np.random.seed(101)

In [ ]:
df2 = pd.DataFrame(randn(4,8),['q','w','e','r'],['a','s','d','f','g','h','j','k'])

In [ ]:
df2

,a,s,d,f,g,h,j,k
q,2.706850,0.628133,0.907969,0.503826,0.651118,-0.319318,-0.848077,0.605965
w,-2.018168,0.740122,0.528813,-0.589001,0.188695,-0.758872,-0.933237,0.955057
e,0.190794,1.978757,2.605967,0.683509,0.302665,1.693723,-1.706086,-1.159119
r,-0.134841,0.390528,0.166905,0.184502,0.807706,0.072960,0.638787,0.329646

In [ ]:
df2['d']

q    0.907969
w    0.528813
e    2.605967
r    0.166905
Name: d, dtype: float64

In [ ]:
df2.loc[['q','e'],['d','f','g']]

          d         f         g
q  0.907969  0.503826  0.651118
e  2.605967  0.683509  0.302665

In [ ]:
df2[['a','f','h','k']]

          a         f         h         k
q  2.706850  0.503826 -0.319318  0.605965
w -2.018168 -0.589001 -0.758872  0.955057
e  0.190794  0.683509  1.693723 -1.159119
r -0.134841  0.184502  0.072960  0.329646

In [ ]:
df2

,a,s,d,f,g,h,j,k
q,2.706850,0.628133,0.907969,0.503826,0.651118,-0.319318,-0.848077,0.605965
w,-2.018168,0.740122,0.528813,-0.589001,0.188695,-0.758872,-0.933237,0.955057
e,0.190794,1.978757,2.605967,0.683509,0.302665,1.693723,-1.706086,-1.159119
r,-0.134841,0.390528,0.166905,0.184502,0.807706,0.072960,0.638787,0.329646

In [ ]:
df2.iloc[2:]

,a,s,d,f,g,h,j,k
e,0.190794,1.978757,2.605967,0.683509,0.302665,1.693723,-1.706086,-1.159119
r,-0.134841,0.390528,0.166905,0.184502,0.807706,0.072960,0.638787,0.329646

In [ ]:
df2.loc[['q','r'],['a','g']] # selecting subsets.

          a         g
q  2.706850  0.651118
r -0.134841  0.807706

In [ ]:
df2

,a,s,d,f,g,h,j,k
q,2.706850,0.628133,0.907969,0.503826,0.651118,-0.319318,-0.848077,0.605965
w,-2.018168,0.740122,0.528813,-0.589001,0.188695,-0.758872,-0.933237,0.955057
e,0.190794,1.978757,2.605967,0.683509,0.302665,1.693723,-1.706086,-1.159119
r,-0.134841,0.390528,0.166905,0.184502,0.807706,0.072960,0.638787,0.329646

In [ ]:
df2['s']>0

q    True
w    True
e    True
r    True
Name: s, dtype: bool

In [ ]:
df2>1

       a      s      d      f      g      h      j      k
q   True  False  False  False  False  False  False  False
w  False  False  False  False  False  False  False  False
e  False   True   True  False  False   True  False  False
r  False  False  False  False  False  False  False  False

In [ ]:
df2[df2['s']>0.5]

,a,s,d,f,g,h,j,k
q,2.706850,0.628133,0.907969,0.503826,0.651118,-0.319318,-0.848077,0.605965
w,-2.018168,0.740122,0.528813,-0.589001,0.188695,-0.758872,-0.933237,0.955057
e,0.190794,1.978757,2.605967,0.683509,0.302665,1.693723,-1.706086,-1.159119

In [ ]:
bool2 = df2['s']>1

In [ ]:
bool2

q    False
w    False
e     True
r    False
Name: s, dtype: bool

In [ ]:
df2[bool2]

,a,s,d,f,g,h,j,k
e,0.190794,1.978757,2.605967,0.683509,0.302665,1.693723,-1.706086,-1.159119

In [ ]:
result = df2[bool2]

In [ ]:
result

,a,s,d,f,g,h,j,k
e,0.190794,1.978757,2.605967,0.683509,0.302665,1.693723,-1.706086,-1.159119

In [ ]:
mycol2 = ['d','f','g']

In [ ]:
result[mycol2]

          d         f         g
e  2.605967  0.683509  0.302665

In [ ]:
df2[df2['s']>1][['d','f','g']]

          d         f         g
e  2.605967  0.683509  0.302665

#***Using Multiple conditions***

In [ ]:
#using and and or operators in pandas we use & = and and | = or operations.

In [ ]:
df[(df['W']>0) & (df['Y']>1)]

          W         X         Y         Z
E  0.190794  1.978757  2.605967  0.683509

In [ ]:
df[(df['W']>0) | (df['Y']>1)]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [ ]:
df2

,a,s,d,f,g,h,j,k
q,2.706850,0.628133,0.907969,0.503826,0.651118,-0.319318,-0.848077,0.605965
w,-2.018168,0.740122,0.528813,-0.589001,0.188695,-0.758872,-0.933237,0.955057
e,0.190794,1.978757,2.605967,0.683509,0.302665,1.693723,-1.706086,-1.159119
r,-0.134841,0.390528,0.166905,0.184502,0.807706,0.072960,0.638787,0.329646

In [ ]:
df2[(df2['a']<0) & (df2['f']<1)]

,a,s,d,f,g,h,j,k
w,-2.018168,0.740122,0.528813,-0.589001,0.188695,-0.758872,-0.933237,0.955057
r,-0.134841,0.390528,0.166905,0.184502,0.807706,0.072960,0.638787,0.329646

In [ ]:
df2[(df2['a']<0) | (df2['f']<1)]

,a,s,d,f,g,h,j,k
q,2.706850,0.628133,0.907969,0.503826,0.651118,-0.319318,-0.848077,0.605965
w,-2.018168,0.740122,0.528813,-0.589001,0.188695,-0.758872,-0.933237,0.955057
e,0.190794,1.978757,2.605967,0.683509,0.302665,1.693723,-1.706086,-1.159119
r,-0.134841,0.390528,0.166905,0.184502,0.807706,0.072960,0.638787,0.329646

In [ ]:
df1 = pd.DataFrame(randn(5,4),['a','b','c','d','e'],['w','x','y','z'])

In [ ]:
df1

          w         x         y         z
a -1.382920  1.482495  0.961458 -2.141212
b  0.992573  1.192241 -1.046780  1.292765
c -1.467514 -0.494095 -0.162535  0.485809
d  0.392489  0.221491 -0.855196  1.541990
e  0.666319 -0.538235 -0.568581  1.407338

In [ ]:
df1[(df1['w']>0) & (df1['y']<1)]

          w         x         y         z
b  0.992573  1.192241 -1.046780  1.292765
d  0.392489  0.221491 -0.855196  1.541990
e  0.666319 -0.538235 -0.568581  1.407338

In [ ]:
df1[(df1['w']>1) | (df1['y']<0)]

          w         x         y         z
b  0.992573  1.192241 -1.046780  1.292765
c -1.467514 -0.494095 -0.162535  0.485809
d  0.392489  0.221491 -0.855196  1.541990
e  0.666319 -0.538235 -0.568581  1.407338

Reseting the index of the dataframe

In [ ]:
df1.reset_index() # setting a index to anumerical value

  index         w         x         y         z
0     a -1.382920  1.482495  0.961458 -2.141212
1     b  0.992573  1.192241 -1.046780  1.292765
2     c -1.467514 -0.494095 -0.162535  0.485809
3     d  0.392489  0.221491 -0.855196  1.541990
4     e  0.666319 -0.538235 -0.568581  1.407338

In [ ]:
df1 #without inplace operator being true it will replace the values.

          w         x         y         z
a -1.382920  1.482495  0.961458 -2.141212
b  0.992573  1.192241 -1.046780  1.292765
c -1.467514 -0.494095 -0.162535  0.485809
d  0.392489  0.221491 -0.855196  1.541990
e  0.666319 -0.538235 -0.568581  1.407338

In [ ]:
#putting new index value
newind = 'CA NY WY OR CO'.split()

In [ ]:
newind

['CA', 'NY', 'WY', 'OR', 'CO']

In [ ]:
df1['States'] = newind

In [ ]:
df1

          w         x         y         z States
a -1.382920  1.482495  0.961458 -2.141212     CA
b  0.992573  1.192241 -1.046780  1.292765     NY
c -1.467514 -0.494095 -0.162535  0.485809     WY
d  0.392489  0.221491 -0.855196  1.541990     OR
e  0.666319 -0.538235 -0.568581  1.407338     CO

In [ ]:
df1.set_index('States')

               w         x         y         z
States
CA     -1.382920  1.482495  0.961458 -2.141212
NY      0.992573  1.192241 -1.046780  1.292765
WY     -1.467514 -0.494095 -0.162535  0.485809
OR      0.392489  0.221491 -0.855196  1.541990
CO      0.666319 -0.538235 -0.568581  1.407338

In [ ]:
df1 # there is no change in th eindex as the iplace is not defined as True.

          w         x         y         z States
a -1.382920  1.482495  0.961458 -2.141212     CA
b  0.992573  1.192241 -1.046780  1.292765     NY
c -1.467514 -0.494095 -0.162535  0.485809     WY
d  0.392489  0.221491 -0.855196  1.541990     OR
e  0.666319 -0.538235 -0.568581  1.407338     CO

In [ ]:
df1['States'] = newind

In [ ]:
df1

          w         x         y         z States
a -1.382920  1.482495  0.961458 -2.141212     CA
b  0.992573  1.192241 -1.046780  1.292765     NY
c -1.467514 -0.494095 -0.162535  0.485809     WY
d  0.392489  0.221491 -0.855196  1.541990     OR
e  0.666319 -0.538235 -0.568581  1.407338     CO

In [ ]:
df1.set_index('States',inplace = True)

In [ ]:
df1

               w         x         y         z
States
CA     -1.382920  1.482495  0.961458 -2.141212
NY      0.992573  1.192241 -1.046780  1.292765
WY     -1.467514 -0.494095 -0.162535  0.485809
OR      0.392489  0.221491 -0.855196  1.541990
CO      0.666319 -0.538235 -0.568581  1.407338

In [ ]:
df1 # we can see a permannent change in the index as states as the inplace operation is executed.

               w         x         y         z
States
CA     -1.382920  1.482495  0.961458 -2.141212
NY      0.992573  1.192241 -1.046780  1.292765
WY     -1.467514 -0.494095 -0.162535  0.485809
OR      0.392489  0.221491 -0.855196  1.541990
CO      0.666319 -0.538235 -0.568581  1.407338

#**Multiple Indexes**

In [ ]:
import numpy as np

In [ ]:
import pandas as pd

In [ ]:
from numpy.random import randn

In [ ]:
outside = ['G1','G1','G1','G2','G2','G2']

In [ ]:
inside = [1,2,3,1,2,3]

In [ ]:
hier_index = list(zip(outside,inside))

In [ ]:
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [ ]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [ ]:
df = pd.DataFrame(randn(6,2),hier_index,['A','B'])

In [ ]:
df

             A         B
G1 1  0.163552 -0.007581
   2  0.093366  0.221294
   3  0.275293 -0.559156
G2 1 -1.051065 -0.275794
   2  0.917356 -1.059208
   3 -0.406763 -0.594142

In [ ]:
df.index.names = ['Groups','Num'] #to assign and name the index.

In [ ]:
df

                   A         B
Groups Num
G1     1    0.163552 -0.007581
       2    0.093366  0.221294
       3    0.275293 -0.559156
G2     1   -1.051065 -0.275794
       2    0.917356 -1.059208
       3   -0.406763 -0.594142

In [ ]:
df['A']

Groups  Num
G1      1      0.163552
        2      0.093366
        3      0.275293
G2      1     -1.051065
        2      0.917356
        3     -0.406763
Name: A, dtype: float64

In [ ]:
df.loc['G1'].loc[3]['B']

-0.559155653977686

In [ ]:
#crossdection syntax xs.
df.xs(1,level = 'Num')

               A         B
Groups
G1      0.163552 -0.007581
G2     -1.051065 -0.275794

#**Missing Data**

In [ ]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [ ]:
dic = {'A': [1,2,np.nan], 'B': [9,np.nan,np.nan], 'C': [1,2,3,]}

In [ ]:
dicdf = pd.DataFrame(dic)

In [ ]:
dicdf

     A    B  C
0  1.0  9.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [ ]:
# to miss the values having no values

In [ ]:
dicdf.dropna()

     A    B  C
0  1.0  9.0  1

In [ ]:
# we can also give the axis value to get the columns

In [ ]:
dicdf.dropna(axis=1)

   C
0  1
1  2
2  3

In [ ]:
dicdf

     A    B  C
0  1.0  9.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [ ]:
#tresh operation which has a treshold value which can be mentioned.
dicdf.dropna(thresh=2) #here if you see the row with two nan values are dropped.

     A    B  C
0  1.0  9.0  1
1  2.0  NaN  2

In [ ]:
dicdf.dropna(axis=1,thresh=2) #this way we can pull out columns by mentioning the axis=1

     A  C
0  1.0  1
1  2.0  2
2  NaN  3

In [ ]:
#to fill in the missing values we use the .fillna method.
dicdf.fillna(value='filling the void')

                  A                 B  C
0               1.0               9.0  1
1               2.0  filling the void  2
2  filling the void  filling the void  3

In [ ]:
#similarly for filling the missing with the mean of the values we ca do 
dicdf['A'].fillna(value = dicdf['A'].mean())

0    1.0
1    2.0
2    1.5
Name: A, dtype: float64

In [ ]:
dicdf['B'].fillna(value= dicdf['C'].mean()) #filling the missing values with the mean of the next column.

0    9.0
1    2.0
2    2.0
Name: B, dtype: float64

#**Groupby**

In [ ]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [ ]:
# creating a dataframe sample
data = {'Company':['GOOG','GOOG','APPLE','APPLE','MSFT','MSFT'], 
        'Name':['sam','charlie','chidi','rose','faith','TENNYSON'],
        'Sales':[100,120,350,30,240,400]}

In [ ]:
datadf = pd.DataFrame(data)

In [ ]:
datadf

  Company      Name  Sales
0    GOOG       sam    100
1    GOOG   charlie    120
2   APPLE     chidi    350
3   APPLE      rose     30
4    MSFT     faith    240
5    MSFT  TENNYSON    400

In [ ]:
bycomp = datadf.groupby('Company') #grouping the data based on compnay as it is having the common items.

In [ ]:
bycomp # this gives the location of the object grouped.

In [ ]:
# we can use this and put methods on it
bycomp.mean()

         Sales
Company
APPLE    190.0
GOOG     110.0
MSFT     320.0

In [ ]:
#similarly the standard deviation and sum
bycomp.sum()

         Sales
Company
APPLE      380
GOOG       220
MSFT       640

In [ ]:
bycomp.std()

              Sales
Company
APPLE    226.274170
GOOG      14.142136
MSFT     113.137085

In [ ]:
#as we can see these are natural datframeswe can use loc and call function and use dataframe opsand methods on them
bycomp.sum().loc['MSFT']

Sales    640
Name: MSFT, dtype: int64

In [ ]:
datadf.groupby('Company').sum().loc['MSFT'] #all the same things in just one line.

Sales    640
Name: MSFT, dtype: int64

In [ ]:
 # we can also use functions such as count, min, max amd other 
 #arithmetic function on the numericals and make note that these operations are not valid on strings.
 datadf.groupby('Company').count()

         Name  Sales
Company
APPLE       2      2
GOOG        2      2
MSFT        2      2

In [ ]:
datadf.groupby('Company').min()

             Name  Sales
Company
APPLE       chidi     30
GOOG      charlie    100
MSFT     TENNYSON    240

In [ ]:
datadf.groupby('Company').sum().max()

Sales    640
dtype: int64

In [ ]:
datadf

  Company      Name  Sales
0    GOOG       sam    100
1    GOOG   charlie    120
2   APPLE     chidi    350
3   APPLE      rose     30
4    MSFT     faith    240
5    MSFT  TENNYSON    400

In [ ]:
 # we can use the groupby with another method called describe method which is commonly used and gives all the aggregate data.
 datadf.groupby('Company').describe()

        Sales
        count   mean         std    min    25%    50%    75%    max
Company
APPLE     2.0  190.0  226.274170   30.0  110.0  190.0  270.0  350.0
GOOG      2.0  110.0   14.142136  100.0  105.0  110.0  115.0  120.0
MSFT      2.0  320.0  113.137085  240.0  280.0  320.0  360.0  400.0

In [ ]:
 datadf.groupby('Company').describe().transpose() #transpose can be used to change the format.

Company          APPLE        GOOG        MSFT
Sales count    2.00000    2.000000    2.000000
      mean   190.00000  110.000000  320.000000
      std    226.27417   14.142136  113.137085
      min     30.00000  100.000000  240.000000
      25%    110.00000  105.000000  280.000000
      50%    190.00000  110.000000  320.000000
      75%    270.00000  115.000000  360.000000
      max    350.00000  120.000000  400.000000

In [ ]:
pwd # this is the location of the files to import into python.

'/content'

#**Operations**

In [ ]:
import numpy as np

In [ ]:
import pandas as pd
df = pd.DataFrame({'col1':[1,2,3,4],'col2':[444,555,666,444],'col3':['abc','def','ghi','xyz']})
df.head()

   col1  col2 col3
0     1   444  abc
1     2   555  def
2     3   666  ghi
3     4   444  xyz

In [ ]:
#finding unique value in a dataframe - 
df['col2'].unique()

array([444, 555, 666])

In [ ]:
#if we need number of unique values
len(df['col2'].unique())

3

In [ ]:
#there is a built in fn. 
df['col2'].nunique()

3

In [ ]:
#value counts - give the number of occurenc of the unique value.
df['col2'].value_counts()

444    2
555    1
666    1
Name: col2, dtype: int64

In [ ]:
# selecting data using conditional selection
df[df['col1']>2]

   col1  col2 col3
2     3   666  ghi
3     4   444  xyz

In [ ]:
#adding and and or fn.
df[(df['col1']>2) & (df['col2'] == 444)]

   col1  col2 col3
3     4   444  xyz

In [ ]:
 # applying functions using the apply method.

In [ ]:
def times2(x):
  return x*2

In [ ]:
df['col2'].apply(times2)

0     888
1    1110
2    1332
3     888
Name: col2, dtype: int64

In [ ]:
#similarly to find the length.
df['col3'].apply(len)

0    3
1    3
2    3
3    3
Name: col3, dtype: int64

In [ ]:
#using lambda expressions and not using a fn.
df['col2'].apply(lambda x:x*2)

0     888
1    1110
2    1332
3     888
Name: col2, dtype: int64

In [ ]:
#drop method.

In [ ]:
df.drop('col1',axis=1) #to make it permanent we use inplace=True.

   col2 col3
0   444  abc
1   555  def
2   666  ghi
3   444  xyz

In [ ]:
#to get the names of the columns
df.columns

Index(['col1', 'col2', 'col3'], dtype='object')

In [ ]:
df.index

RangeIndex(start=0, stop=4, step=1)

In [ ]:
#sorting of dataframes

In [ ]:
df

   col1  col2 col3
0     1   444  abc
1     2   555  def
2     3   666  ghi
3     4   444  xyz

In [ ]:
df.sort_values('col2') # here it can also be written without the by as df.sort_values(by = 'col2)

   col1  col2 col3
0     1   444  abc
3     4   444  xyz
1     2   555  def
2     3   666  ghi

In [ ]:
# to find the null values in the data frame.
df.isnull() # here it gives a boolean values of the dataframe here all are false as they are having values.

    col1   col2   col3
0  False  False  False
1  False  False  False
2  False  False  False
3  False  False  False

In [ ]:
import numpy as np

In [ ]:
df = pd.DataFrame({'col1':[1,2,3,np.nan],
                   'col2':[np.nan,555,666,444],
                   'col3':['abc','def','ghi','xyz']})
df.head()

   col1   col2 col3
0   1.0    NaN  abc
1   2.0  555.0  def
2   3.0  666.0  ghi
3   NaN  444.0  xyz

In [ ]:
# to fill the null values with data
df.fillna('FILL')

   col1   col2 col3
0   1.0   FILL  abc
1   2.0  555.0  def
2   3.0  666.0  ghi
3  FILL  444.0  xyz

In [ ]:
#pivot tables important

In [ ]:
data = {'A':['foo','foo','foo','bar','bar','bar'],
     'B':['one','one','two','two','one','one'],
       'C':['x','y','x','y','x','y'],
       'D':[1,3,2,5,4,1]}

df = pd.DataFrame(data)

In [ ]:
df

     A    B  C  D
0  foo  one  x  1
1  foo  one  y  3
2  foo  two  x  2
3  bar  two  y  5
4  bar  one  x  4
5  bar  one  y  1

In [ ]:
df.pivot_table(values = 'D', index = ['A','B'], columns = 'C')

C          x    y
A   B
bar one  4.0  1.0
    two  NaN  5.0
foo one  1.0  3.0
    two  2.0  NaN

In [ ]:
# here we can see the NAN values as there is no attributed value for them.

In [ ]:
# we can fill the na values with the fillna method.
df.pivot_table(values = 'D', index = ['A','B'], columns = 'C').fillna('fill')

C           x     y
A   B
bar one   4.0   1.0
    two  fill   5.0
foo one   1.0   3.0
    two   2.0  fill

#**Data Input and output**
* CSV
* SQL
* EXCEL
* HTML

In [ ]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [ ]:
# we have to install the respective libraries before importing the data.

In [ ]:
pip install sqlalchemy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.7/dist-packages (1.4.41)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from sqlalchemy) (4.12.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.7/dist-packages (from sqlalchemy) (1.1.3)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy) (3.8.1)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy) (4.1.1)

In [ ]:
pip install lxml

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: lxml in /usr/local/lib/python3.7/dist-packages (4.9.1)

In [ ]:
pip install html5lib

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: html5lib in /usr/local/lib/python3.7/dist-packages (1.0.1)
Requirement already satisfied: webencodings in /usr/local/lib/python3.7/dist-packages (from html5lib) (0.5.1)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.7/dist-packages (from html5lib) (1.15.0)

In [ ]:
pip install beautifulsoup4

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.7/dist-packages (4.6.3)

In [ ]:
# TO FIND THE LOCATION OF THE LIBRARIES OR THE FILES.

In [ ]:
import pandas as pd

In [ ]:
pwd

'/content'

In [ ]:
#How to read the CSV files

In [ ]:
pd.read_csv('example')

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [ ]:
#to make it as a dataframe we need to put that read method in df

In [ ]:
df = pd.read_csv('example')

In [ ]:
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [ ]:
#we can convert the files to any format by using "to" method

In [ ]:
df.to_csv('MyOutput',index = False) # we are using index to be false is to avoid the index repeating.

In [ ]:
pd.read_csv('MyOutput')

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [ ]:
#reading a excel file.
pd.read_excel('Excel_Sample.xlsx')

   Unnamed: 0   a   b   c   d
0           0   0   1   2   3
1           1   4   5   6   7
2           2   8   9  10  11
3           3  12  13  14  15

In [ ]:
#here in the excel has only one sheet and if it has multiple sheets we have to mention the sheet name.
pd.read_excel('Excel_Sample.xlsx',sheet_name='Sheet1')

   Unnamed: 0   a   b   c   d
0           0   0   1   2   3
1           1   4   5   6   7
2           2   8   9  10  11
3           3  12  13  14  15

In [ ]:
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [ ]:
df = pd.read_excel('Excel_Sample.xlsx',sheet_name='Sheet1')

In [ ]:
df

   Unnamed: 0   a   b   c   d
0           0   0   1   2   3
1           1   4   5   6   7
2           2   8   9  10  11
3           3  12  13  14  15

In [ ]:
#converting the excel using 'to' method

In [ ]:
df.to_excel('Excel_Sample2.xlsx',sheet_name='New_Sheet',index=False)

In [ ]:
pd.read_excel('Excel_Sample2.xlsx')

   Unnamed: 0   a   b   c   d
0           0   0   1   2   3
1           1   4   5   6   7
2           2   8   9  10  11
3           3  12  13  14  15